.game-search-form {
  padding: 0 30px;
}

.search-results {
  padding: 0 30px;
}

/* .card {
  text-align: left;
} */

.btn-custom-game-search {
  background-color: var(--p);
  color: var(--text-light);
  border-color: var(--p);
  margin-left: 15px;
}

.btn-custom-add {
  background-color: var(--p);
  color: var(--text-light);
  border-color: var(--p);
}


img {
  margin-right: 20px;
}

@media (min-width: 576px) {
  img {
    display: block;
  }
}
