form {
  text-align: center;
}

.empty-collection-message {
  text-align: center;
}

.btn-custom-game-search {
  background-color: var(--p);
  color: var(--text-light);
  border-color: var(--p);
}

.btn-custom-add {
  background-color: var(--p);
  color: var(--text-light);
  border-color: var(--p);
}

img {
  margin-right: 20px;
}

.no-games-message {
  padding: 0 30px;
  text-align: center;
}


@media (min-width: 576px) {
  form {
    text-align: left;
  }

  .empty-collection-message {
    text-align: left;
  }

  .search-results {
    padding: 0 30px;
  }

  .game-search-form {
    padding: 0 30px;
  }

  .no-games-message {
    padding: 0;
    text-align: left;
  }

}
