.page-content {
  background-color: var(--p-dark);
}


/* Side Menu */
.side-menu {
  max-width: 200px;
  background-color: var(--p-dark);
}

.side-menu .btn {
  margin-top: 1.5rem;
}

.side-menu .btn-custom {
  background-color: var(--s);
  color: var(--text-light);
  border-color: var(--s);
}

.col-2 {
  display: none;
}

.mobile-menu {
  display: flex;
  height: 56px;
  background-color: var(--p-dark);
}

@media (min-width: 576px) {
  .col-2 {
    display: inline;
  }

  .mobile-menu {
    display: none;
  }

  .dashboard-content {
    /* padding: 200px; */
  }
}


/* This Page's Dashboard Content */
.dashboard-content {
  background-color: var(--text-light);
  padding: 30px;
}

.dashboard-content h1 {
  text-align: center;
}

.dashboard-content h3 {
  color: var(--s)
}

@media (min-width: 576px) {
  .col-2 {
    display: inline;
  }

  .mobile-menu {
    display: none;
  }

  .dashboard-content h1 {
    padding: 30px;
    text-align: left;
  }
s}
