/* Color Scheme */
:root {
  --p: #1cafc3;
  --p-light: #65e1f6;
  --p-dark: #007f93;
  --s: #f2993b;
  --s-light: #ffca6b;
  --s-dark: #ba6b00;
  --text-light: #fafafa;
  --text-dark: #263238;
}


html {
  background-color: var(--text-light);
}

/* Nav-bar Overrides */
.navbar-custom {
  background-color: var(--p);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--text-light);
}

.navbar-custom .navbar-nav .nav-link {
  color: var(--text-light);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--s);
}

.navbar i.fas {
  color: var(--s);
  margin: 0 0.5rem;
}
